// Written by Kedric Salisbury
doctype html
html(lang='en')
    head
        title Car
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        // Import materialize.css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="icon", type="image/png", href="/wolf.png")
    body
        .container.z-depth-2
            .row
                .collection.with-header.col.s10.offset-s1
                    .collection-header Seats Left: #{seatsLeft}
                    for s in seats
                        if driver===s
                            .collection-item.active(href='#!') #{driver}
                        else
                            a.kick.collection-item(href='#!') #{s}
            .row
                .col.s5.offset-s1
                    .input-field.col.s5
                        input#name.validate(placeholder='Name', type='text')
                        label(for='name') Name
                .col.s5.offset-s1
                    if seatsLeft === 0
                        a#submit.waves-effect.waves-light.btn.disabled.red Car Full
                    else
                        a#submit.waves-effect.waves-light.btn Join Car
    script.
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    if seatsLeft !== 0
        script.
            document.getElementById('name').onkeypress = function (e) {
                if (!e) e = window.event;
                var keyCode = e.keyCode || e.which;
                if (keyCode === '13') {
                    $.ajax({
                        type: "POST",
                        url: "/claimSeatID",
                        data: {id: '#{id}', passenger: $("#name").val()},
                        complete: function () {
                            location.reload();
                        }
                    });
                    return false;
                }
            }
            $(document).ready(function () {
                document.body.style.backgroundImage = "url('/circles-light.png')";
                document.body.style.backgroundRepeat = "no-repeat";
                document.body.style.backgroundSize = "cover";
            });
            $("#submit").click(function(){
                $.ajax({
                    type: "POST",
                    url: "/claimSeatID",
                    data: {id: '#{id}', passenger: $("#name").val()},
                    complete: function(){
                        location.reload();
                    }
                });
            });
             $(".kick").click(function(e) {
                 if(confirm("Are you sure you want to kick this person from the car? (Only usable by the driver)")) {
                     $.ajax({
                         type: "POST",
                         url: "/remove",
                         data: {id: '#{id}', passenger: $(e.target).text()},
                         complete: function () {
                             location.reload();
                         }
                     })
                 }
             });