// Written by Kedric Salisbury
doctype html
html(lang='en')
    head
        title Create
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        // Import materialize.css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        .container.z-depth-2
            if lastID !== null && lastID !== undefined && lastID !== ""
                .row
                    .col.s3
                    h3 Last Car
                .row
                    .col.s5.center.offset-s1
                        input#copyText(readonly, type="text", value="http://site.kedric.net:82/car/" + lastID)
                    .col.s5.center
                        a.btn(onclick="copy()") Copy
            .row
                form#form(action="/create", method="post").col.s12
                    .row
                        .input-field.col.s5.offset-s1
                            input#driver.validate(placeholder='Name', name="driver", type='text')
                            label(for='driver') Driver Name
                    .row
                        .input-field.col.s10.offset-s1
                            select(name="carSize")
                                option(value='', disabled='', selected='') Select your Car Size
                                option(value='2') 2
                                option(value='5') 5
                                option(value='8') 8
                                option(value='9') 9
                            label Car Size
                    .row
                        .input-field.col.s10.offset-s1 Time
                            p.range-field
                                input#time(name="time", type="range", min="6", max="48")
                    .row
                        .input-field.col.s10.offset-s1
                            input(type="submit").btn
    script.
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }

    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script.
        $(document).ready(function () {
            $("#form").bind("ajax:complete", function () {
                location.reload();
            });
            $('select').material_select();
            document.body.style.backgroundImage = "url('circles-light.png')";
            document.body.style.backgroundRepeat = "no-repeat";
            document.body.style.backgroundSize = "cover";
        });
        $("#copyText").click(function(){
            window.open("http://site.kedric.net:82/car/#{lastID}");
        });
        function copy() {
            var copyText = document.getElementById("copyText");
            copyText.select();
            document.execCommand("Copy");
        }